* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inline {
    display: inline;
}

.head-content {
    background-color: #590099;
    display: flex;
    align-items: center;
}

.title1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #FFD900;
    text-shadow: 5px 5px #4d0129;
}

.title2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #FFD900;
    text-shadow: 5px 5px #4d0129;
}

.searchbar {
    width: 100%;
    text-align: center;
}

.searchbar-input > input {
    padding: 10px 5px;
    width: 70%;
    background: #fff;
    border: 0;
    border-radius: 5px 0 0 5px;
}

.searchbar-button > input {
    padding: 10px;
    background: #fff;
    border: 0;
    border-radius: 0 5px 5px 0;
}

.sidebar-button {
    padding: 10px;
    margin: 0 10px;
    background: none;
    border: none;
}

.line {
    height: 5px;
    width: 40px;
    background-color: #fff;
    border-radius: 10px;
    margin: 7px 0;
}

.container {
    margin: 30px;
}

.container-head {
    background-color: #590099;
    padding: 10px;
}

.container-body {
    padding: 10px;
    background: #260032;
    display: flex;
    overflow-x: scroll;
}

.card {
    margin: 10px;
    width: 180px;
    min-width: 180px;
    height: 400px;
    background: #FFD900;
    border-radius: 10px;
    box-shadow: 10px 10px #4d0129;
}

.card-thumb {
    width: 100%;
    overflow: hidden;
}

.card-thumb > img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-body {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 5px;
}

.card-title {
    text-align: center;
}

.blank-link {
    text-decoration: none;
}

.hover-float {
    transition: 0.3s;
}

.hover-float:hover {
    transform: translateY(-15px);
}