* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inline {
    display: inline;
}

.head-content {
    background-color: #590099;
    display: flex;
    align-items: center;
}

.title1 a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    text-decoration: none;
    color: #FFD900;
    text-shadow: 5px 5px #4d0129;
}

.title2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #FFD900;
    text-shadow: 5px 5px #4d0129;
}

.searchbar {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar-input {
    width: 60%;
    margin-right: 5px;
}

.searchbar-input > input {
    padding: 10px 5px;
    width: 100%;
    background: #fff;
    border: 0;
    border-radius: 5px 0 0 5px;
}

.searchbar-button > button {
    padding: 10px;
    background: #FFD900;
    border: 2px solid #FFD900;
    border-radius: 0 5px 5px 0;
}

.sidebar-button {
    padding: 10px;
    margin: 0 10px;
    background: none;
    border: none;
}

.line {
    height: 5px;
    width: 40px;
    background-color: #fff;
    border-radius: 10px;
    margin: 7px 0;
}

.container {
    margin: 30px;
}

.container-head {
    background-color: #590099;
    padding: 10px;
}

.container-body {
    padding: 10px;
    background: #260032;
    display: grid;
    grid-template-columns: repeat(10, 200px);
    overflow-x: scroll;
}

.card {
    margin: 10px;
    width: 180px;
    min-width: 180px;
    height: 400px;
    background: #FFD900;
    border-radius: 10px;
    box-shadow: 10px 10px #4d0129;
}

.card-thumb {
    width: 100%;
    overflow: hidden;
}

.card-thumb > img {
    width: 100%;
    max-height: 270px;
    border-radius: 10px 10px 0 0;
}

.card-body {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 5px;
}

.card-title {
    text-align: center;
}

.blank-link {
    text-decoration: none;
}

.hover-float {
    transition: 0.3s;
}

.hover-float:hover {
    transform: translateY(-15px);
}

.alert-box {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 10px;
    z-index: 10;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    transition: 250ms;
}

.alert-head {
    padding: 10px;
    background-color: rgb(250, 0, 0);
    border-radius: 10px 10px 0 0;
}

.alert-body {
    padding: 10px;
    background-color: rgb(190, 0, 0);
    border-radius: 0 0 10px 10px;
}

.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 3px solid white;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px;
}
.gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 3px;
    height: 8px;
    background: white;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px;
}

/* Aside style */

aside {
    height: 100%;
    max-width: 300px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding: 30px 0 0 0;
    transition: 0.5s;
    font-family: sans-serif;
}

.aside-head {
    font-size: 2rem;
    border-bottom: 1px solid #000;
    padding: 0 0 10px 10px;
}

.aside-body {
    height: 100%;
    background-color: lightgray;
}

.list-title {
    font-size: 1.5rem;
    padding: 10px;
    line-height: 3rem;
}

.list-wrapper > li {
    display: block;
}

.list-wrapper a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
    background: rgb(180, 180, 180);
    transition: 250ms;
}

.list-wrapper a:hover {
    background: lightgray;
}

#close-sidebar {
    position: relative;
    padding: 10px 20px;
    font-size: 2rem;
    border: 0;
    background: none;
    cursor: pointer;
}

#close-sidebar:hover {
    background: lightgray;
}

@media (max-width: 430px) {
    .title1 a {
        font-size: 2rem;
    }

    .title2 {
        font-size: 1.5rem;
    }

    .container-body {
        grid-template-columns: repeat(10, 150px);
    }

    .card {
        width: 130px;
        min-width: 130px;
        height: 300px;
    }
    
    .card-thumb > img {
        max-height: 195px;
    }

    #close-sidebar {
        display: block;
    }
}